* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --azul: #284a8a;
    --rosagold: #88386f;
    --rosacleam: rgb(236, 175, 216);
    --rosaforte: #c4138c;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --escuroazul: #021b59;
    --claro: #e2e8f0;
    --claro2: #f0ecec6b;
    --vidro: rgba(255, 255, 255, 0.1);
}

.cabecalho {
    background-color: var(--azul);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;

}

.menu a {
    color: #fff;
    padding: 10px 15px;
    margin: 8px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: var(--rosagold);
    transform: translatey(-5px);
    box-shadow: 0 5px 10px rgba(197, 148, 194, 0.3);
}

.perfil{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.perfil img{
    width: 150px;
}

.sub-perfil{
    display: inline-block;
    width: 100%;
    margin: -75px 0px;
}

.sub-perfil h1{
    text-align: center;
    color: var(--escuroazul);
    font-weight: bold;
}

.sub-perfil h2{
    text-align: center;
    font-size: 16px;
    margin: 5px;
    color: var(--escuroazul);
}

.sub-perfil h3{
    text-align: center;
    font-size: 14px;
    margin: 5px;
    color: var(--escuroazul);
}

.sobre{
    width: 100%;
    margin: 100px 0px;
}

.sobre h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 50px;
    color: var(--escuroazul);
}

.sobre p{
    text-align: justify;
    padding: 15px 30px;
    margin: 0px 30px;
    color: var(--escuroazul);
    background-color: var(--claro2);
    border-radius: 15px;
    transition: 0.3s;
}

.sobre p:hover{
    background-color: var(--claro);
    transform: translate(-5px);
}

.projetos{
    width: 100%;
    text-align: center;
}

.projetos h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 50px;
    color: var(--escuroazul);
}

.card{
    display: inline-block;
    width: 350px;
    margin: 5px 30px;
    border-radius: 16px;
    background-color: var(--claro2);
    cursor: pointer;
    border: 1px solid rgba(23, 23, 57, 0.25);
    transition: 0.3s;
}

.card h2{
    color: var(--escuroazul);
    margin: 5px;
    
}

.card img{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
}

.card p{
    text-align: center;
    padding: 0px 5px 15px;
    margin: 5px;
    color: var(--escuroazul);
}

.card:hover{
    background-color: var(--claro);
    transform: translatey(-5px);
    box-shadow: 0 5px 10px rgba(197, 148, 194, 0.3);
}

.contato{
    width: 100%;
    text-align: center;
}

.contato h1{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    font-size: 50px;
    color: var(--escuroazul);
}

.form-contato{
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--claro2);
    border-radius: 25px;
    transition: 0.3s;
}

.form-contato:hover{
    background-color: var(--claro);
    transform: translateY(-5px);
}

.form-group input{
    width: 90%;
    max-width: 500px;
    height: 50px;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid rgba(23, 23, 57, 0.25);
    color: var(--escuroazul);
    border-radius: 5px;
}

.form-group textarea{
    width: 90%;
    max-width: 500px;
    height: 100px;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid rgba(23, 23, 57, 0.25);
    color: var(--escuroazul);
    border-radius: 5px;
}

.botao-form{
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(71, 215, 71);
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    border: 0px;
    cursor: pointer;
}

.botao-form:hover{
    background-color: var(--rosagold);
    transform: translateY(-5px);
}

.footer{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer p{
    text-align: center;
    color: var(--escuroazul);
}

/*CSS dash Projetos*/

.dash-powerbi{
    width: 100%;
    padding: 20px;
    background-color: var(--claro2);
}

.dash-powerbi h1{
    margin-top: 60px;
    width: 100%;
    color: var(--escuroazul);
    font-size: 40px;
    text-align: center;
}

.card-projetos{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 15px 2px;
    padding: 20px;
    border-radius: 16px;
    background-color: var(--claro2);
    border: 1px solid rgba(23, 23, 57, 0.25);
    transition: 0.3s; 
}

.card-projetos:hover{
    background-color: var(--claro);
}

.card-projetos img{
    width: 100%;
    max-width: 800px;
}

.responsive-iframe{
    width: 100%;
    height: 800px;
}

.card-projetos h2{
    font-size: 20px;
    margin: 5px;
    color: var(--escuroazul);
}

.card-projetos p{
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--escuroazul);
}

@media screen and (max-width:400px){
    .responsive-iframe{
    width: 100%;
    height: 250px;
}
}